@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  


 @media (max-width: 800px) {
  #banner-delivery{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 2rem;
    div{
      align-items: center;
      gap: 2rem;
      h1{
        width: 70%;
        text-align: center;
        font-size: 5rem;
      }
    }
  }
  #burguer-img{
    width: 70%;
  }
}