@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  


 @media (max-width: 1000px) {
  nav{
    display: flex;
    justify-content: center;
    img{
      padding: 0%;
    }
  }
  #banner-delivery{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 2rem;
    div{
      align-items: center;
      gap: 2rem;
      h1{
        width: 70%;
        text-align: center;
        font-size: 4rem;
        padding: 0;
      }
      p{
        padding: 0;
        font-size: 1.5rem;
      }
    }
  }
  #burguer-img{
    width: 70%;
  }
  #banners{
    img{
      max-width: 100%;
    }
  }
}